# Directories
cache/
old-out/
out*
node_modules

# Coverage
coverage/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Others
.npmrc
.DS_Store
.pnp.*
*lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock